$background-color: #62B1D0;
$primary-color: #0776A0;
$secondary-color:#024C68;
$font-color: #FFFFFF;
$border-color: #024C68;

body {
    font-family: Roboto, sans-serif;
    background-color: $background-color;
}